.input-container {
    padding: 10px;
    margin: 10px;
}

h1{
    display: flex;
    justify-content: center;
}

.info-input {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.education-input {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.work-input {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.submit-btn {
    font-size: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
}