.input-container {
    padding: 10px;
    margin: 10px;
}

.info-input {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.education-input {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.work-input {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}