.resume-preview {
    margin: 20px;
    width: 600px;
    height: 1200px;
}

.personal-info {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.work {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}